@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: "Roboto", sans-serif;
  background: #374463;
  background: -webkit-gradient(linear, left top, right top, from(#374463), color-stop(50%, #191f33), to(#121726));
  background: linear-gradient(90deg, #374463 0%, #191f33 50%, #121726 100%);
  color: #ffffff;
  font-style: normal;
}

input {
  outline: none;
  color: white !important;
}

select {
  outline: none;
  color: white !important;
}

.container {
  max-width: 1531px;
  margin: 0 auto;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.little-text {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #8c91ba;
}

.underline {
  text-decoration: underline;
}

.mauto {
  margin: 0 auto;
}

.button {
  padding: 10px 30px;
  background: transparent;
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  color: #ffffff;
}

.button:hover {
  background: #87e389;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.mt__8 {
  margin-top: 8px;
}

.mt__10 {
  margin-top: 10px;
}

.mt__11 {
  margin-top: 11px;
}

.mt__13 {
  margin-top: 13px;
}

.mt__14 {
  margin-top: 14px;
}

.mt__16 {
  margin-top: 16px;
}

.mt__25 {
  margin-top: 25px;
}

.mt__30 {
  margin-top: 30px;
}

.mt__55 {
  margin-top: 55px;
}

.ml__4 {
  margin: 0 0 0 4px;
}

.ml__9 {
  margin: 0 0 0 9px;
}

.ml__15 {
  margin-left: 15px;
}

.mr__9 {
  margin: 0 9px 0 0;
}

.mb__135 {
  margin-left: 135px;
}

.padfoot {
  padding: 35px 0;
}

.block {
  display: block;
}

.nav {
  width: 100%;
  background: #121423;
  box-shadow: 0 200px #3c93d5;
  -webkit-box-shadow: 0px 15px 11px 0px rgba(18, 20, 35, 0.7);
  box-shadow: 0px 15px 11px 0px rgba(18, 20, 35, 0.7);
}

.nav__main-blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}

.nav__main-block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
}

.nav__main-block-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
}

.nav__main-block-button {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}

.nav__list li {
  cursor: pointer;
}

.nav__list li:hover {
  color: burlywood;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav h1 {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  margin-left: 5px;
  cursor: pointer;
}

.nav__icon {
  margin-right: 15px;
}

.input-main {
  background: transparent;
  opacity: 0.5;
  border: 2px solid #32448c;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
  padding: 8px 10px;
  width: 100%;
}

.input-cur {
  width: 100px;
  margin-left: 14px;
  border-radius: 7px;
}

.wrapper-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.auth {
  max-width: 320px;
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  margin-left: 100px;
}

.auth__soc {
  max-width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 11px auto 0;
}

.auth__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.auth__password {
  position: relative;
  width: 100%;
}

.auth__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.auth__password-control {
  position: absolute;
  top: 25%;
  right: 15px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("/img/nav/eye.svg") 0 0 no-repeat;
}

.auth img {
  cursor: pointer;
}

.view {
  background: url("/img/nav/eye.svg") 0 0 no-repeat;
}

.slider {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 75%;
          flex: 0 1 75%;
  background: url("../img/nav/brice-laville-saint-martin-asset.jpg") 0 0 no-repeat;
  background-size: cover;
  height: 100%;
  -webkit-box-shadow: -20px 0px 19px 0px rgba(18, 20, 35, 0.63);
  box-shadow: -20px 0px 19px 0px rgba(18, 20, 35, 0.63);
  margin-left: 80px;
}

.slider__wrapp-shadow-top {
  -webkit-box-shadow: 0px 15px 11px 0px rgba(18, 20, 35, 0.7) inset;
  box-shadow: 0px 15px 11px 0px rgba(18, 20, 35, 0.7) inset;
}

.slider__wrapp-shadow-bottom {
  -webkit-box-shadow: 0px -20px 17px 0px rgba(18, 20, 35, 0.7) inset;
  box-shadow: 0px -20px 17px 0px rgba(18, 20, 35, 0.7) inset;
}

.slider__fill {
  margin-left: 70px;
  padding-top: 80px;
}

.slider__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider__arrow:hover {
  background-color: blueviolet;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slider__arrow {
  cursor: pointer;
  border: 1px solid #595959;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 33px;
  width: 33px;
  border-radius: 50%;
  position: relative;
}

.slider img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.slider h3 {
  font-weight: bold;
  font-size: 36px;
  line-height: 38px;
  width: 400px;
  text-transform: uppercase;
  margin-top: 20px;
}

.slider__pagination {
  background: rgba(72, 80, 143, 0.7);
  border-radius: 50px;
  width: 235px;
  height: 5px;
  margin: 135px 0 0 70px;
}

.slider__pagination-wrapper {
  padding-bottom: 20px;
}

.text-bonus {
  font-weight: 500;
  font-size: 14px;
  color: #87e389;
  line-height: 15px;
  margin-top: 21px;
}

.line {
  border: 2px solid #ffffff;
  background-color: #fff;
  width: 95px;
  border-radius: 30px;
  margin-top: 15px;
}

.menu {
  background-color: #121423;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-box-shadow: 0px -20px 37px 0px rgba(18, 20, 35, 0.7);
  box-shadow: 0px -20px 37px 0px rgba(18, 20, 35, 0.7);
}

.menu__list-game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.menu__block-game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.menu img {
  margin-right: 8px;
}

.menu__choice {
  background: transparent;
  border: none;
  color: #ffffff;
}

.menu__search {
  position: relative;
  background: transparent;
  border-radius: 35px;
  border: 2px solid #898989;
  width: 390px;
  height: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.menu__filtr {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__filrt-block {
  padding: 8px 16px;
  border: 1px solid #282f4b;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 13px;
  line-height: 15px;
  color: #8187ad;
  cursor: pointer;
  border-radius: 30px;
  text-align: center;
}

.menu__filrt-block:hover {
  border: 1px solid #d73649;
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.arrow-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
}

.arrow-menu img {
  margin-left: 14px;
}

.games-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.games-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.games-small {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 68%;
          flex: 1 1 68%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -7px;
}

.games-small img {
  width: 252px;
  height: 188px;
  margin-right: 4px;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 7px;
}

.games-small img:hover {
  border: 3px solid #8beb01;
  border-radius: 20px;
}

.games-wrpapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.games-big {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 32%;
          flex: 1 1 32%;
  position: relative;
  border-radius: 35px;
  height: 100%;
  width: 493px;
  height: 384px;
  border: 3px solid #8beb01;
}

.text-name-block {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}

.text-view {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  cursor: pointer;
  color: #87e389;
}

.peculiarity {
  position: absolute;
  top: 25px;
  right: 0px;
  background: url("../img/new-games/peculiarity.png") 0 0 no-repeat;
}

.peculiarity-pos {
  right: 0px;
}

.peculiarity-text {
  display: block;
  text-align: center;
  margin: 6px 10px;
  -webkit-transform: translate(0, -3px);
          transform: translate(0, -3px);
}

.button-pos {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: none;
}

.active-play-green {
  background-color: #87e389;
  color: black;
}

.active-lite-blue {
  background-color: #50ffdf;
  color: black;
}

.active-blue {
  background-color: #4f00f7;
  color: white;
}

.games-blue-lite {
  border: 3px solid #50ffe0;
}

.games-blue {
  border: 3px solid #4f00f7;
}

.pay {
  margin-top: 100px;
}

.pay__wrapper {
  width: 1044px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pay__wrapper img {
  cursor: pointer;
}

.footer {
  background: #121423;
  margin-top: 55px;
}

.partners__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners__wrapper img {
  cursor: pointer;
}

.partners__line {
  margin-top: 35px;
  width: 1515px;
  height: 2px;
  background: #172146;
  border-radius: 10px;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-info {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-info__block-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-info__block-logo span {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-info__block-logo img {
  cursor: pointer;
}

.footer-info__links {
  width: 608px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-info__links-block h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 42px;
  color: #ffffff;
}

.footer-info__links-block span {
  font-size: 16px;
  line-height: 19px;
  color: #32448c;
  cursor: pointer;
}

.footer-info__slider {
  width: 387px;
}

.footer-info__slider-wrapper h3 {
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.footer-info__slider-wrapper p {
  margin-top: 20px;
  font-size: 16px;
  line-height: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.footer-info__slider-pagination {
  width: 153px;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-info__slider-point {
  background: #172146;
  border-radius: 50%;
  width: 9px;
  height: 9px;
}

.active-point {
  background: #32448c;
}

.copirait {
  width: 900px;
  margin: 0 auto;
  margin-top: 40px;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
  opacity: 0.8;
}
